In [27]:
import pandas as pd

In [28]:
df = pd.read_excel(r"D:\forage\Data Visualisation - Empowering Business with Effective Insights\Task 3\Dataset\Online Retail Data Set.xlsx")

In [29]:
df.shape

(541909, 8)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [31]:
df['InvoiceNo'].apply(type).value_counts()

InvoiceNo
<class 'int'>    532618
<class 'str'>      9291
Name: count, dtype: int64

In [32]:
df = df[df['InvoiceNo'].apply(type) == int]

In [33]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     134694
Country             0
dtype: int64

In [34]:
df = df[df['Quantity']>=1]

In [35]:
df = df[df['UnitPrice']>=0]

In [36]:
df.shape

(531282, 8)

In [37]:
df.to_csv(r"D:\forage\Data Visualisation - Empowering Business with Effective Insights\Task 3\Dataset\Online Retail Data Set - cleaned.csv")